<div class="container" *ngIf="!login">
  <div class="content">
    <h1 md-dialog-title>{{confirmMessage}}</h1>
    <img md-card-image class="card-image" src="{{imageUrl}}">
  </div>

  <div md-dialog-actions class="buttons">
    <button mat-button style="color: #fff;background-color: #153961;" (click)="dialogRef.close(true)">Confirm</button>
    <button mat-button (click)="dialogRef.close(false)">Cancel</button>
  </div>
</div>

<ng-container *ngIf="login">
  <div class="container">
    <div class="content">
      <h1 md-dialog-title>Add Product</h1>
      <form>

        <!--VALIDATING -->
        <!--user cant press login button if both fields are not filled out
       -->
       <input type="text" [(ngModel)]="product.title" name="product.title" placeholder="Title.." required>
       <input type="text" [(ngModel)]="product.price" name="price" placeholder="Price.." required>
       <input type="text" [(ngModel)]="product.discount" name="discount" placeholder="Discount Percentage.." required>
       <input type="text" [(ngModel)]="product.imageUrl" name="imageUrl" placeholder="Image Url.." required>
       <textarea [(ngModel)]="product.content" name="content" placeholder="Description.." required></textarea>
       

       

        <div md-dialog-actions class="buttons">
          <button mat-button style="color: #fff; background-color: #153961;" (click)="addProduct()" type="submit">Add Product</button>
          <button mat-button (click)="closeClick()">Cancel</button>
        </div>


      </form>
    </div>

    <h1>Remove Product(s)</h1>
    <div class="product" *ngFor="let product of products | async">

      <h3>{{product.data.title}}</h3>
      <button (click)="deleteProduct(product.id)">Delete</button>
    </div>
    


  </div>
</ng-container>
