.card-image {
  width: 50%;
}

// add.button {
//   align-items: center;
//   justify-content: center;
//   color: #fff; background-color: #0e3864;
// }
// close.button {
//   align-items: center;
//   justify-content: center;
//   color: #4e495a;
//   background-color: #ffffff;
// }


.card-image {
  display:block;
  margin: auto;
}


//add your styling here christian

