.product {
  /*padding-right:7px;*/
  /*padding-left: 2%;*/
  /*padding-bottom: 2%;*/
  /*padding-top: 2%;*/
  padding: 2% 7px 2% 2%;
  width: 300px;
  display: flex;
}

/*.card-2 {*/
  /*padding-left:7px;*/
  /*padding-right:7px;*/
/*}*/

/*.card-3 {*/
  /*padding-left:7px;*/
/*}*/

.example-header-image {
  background-size: cover;
}

.mat-card-image {
  width: 70%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner {
  display:grid;
}

.header {
  align-items: center;
  font-weight: bold;
  /*font-family: 'Arial', sans-serif, 'Apple SD Gothic Neo';*/
  font-family: "Chalkboard SE";

  font-style: italic;
  color: #555;
  font-size: 1.8em;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card-content {
  font-style: italic;
  flex-grow:1;
}

.card-button {
  font-weight: bold;
}

.card-title-group {
  padding-left: 250px;
}

.card-header {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  width:100%;
}

.card-price {
  flex-basis: 100%;
  text-align: left;
  font-size: large;
  font-family: "Chalkboard SE";
}

.card-title {
  font-weight: bold;
  font-size: large;
  font-family: "Chalkboard SE";

}

.card-discount {
  color: red;
  font-size: large;
  font-family: "Chalkboard SE";
}

md-card {
  display:flex;
  flex-direction: column;
}

.card-image {
  margin: 0 auto 10px;
  width: 250px;
}

.footer-text {
  padding: 25px;
}
.footer-text span{
  margin: 0 auto;
  font-size: small;
}

.card {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .container {
    display: inline-block;
  }
  .header {
    font-size: 1em;
    padding-top: 0;
    padding-bottom: 0;
  }
}
